/*
* Marc Moorman
* 10769781
* Viewedlinks css file
*/

/* headers make up*/
h1 {
	text-align: right;
  color: white;
	font-family: arial;
	font-size: 10px;
}

p {
  text-align: left;
}

#containerBarChart {
  width: 600px;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 50px;
  padding: 20px;
  background-color: white;
  float: right;
}

#containerScatterplot {
  width: 600px;
  text-align: left;
  margin-left: 20px;
  margin-right: auto;
  margin-top: 50px;
  padding: 20px;
  background-color: white;
  float: left;
}

#containerAreaDiagram {
  width: 600px;
  margin-left: 20px;
  margin-right: auto;
  margin-top: 50px;
  padding: 20px;
  background-color: white;
}

/* dropdown menu make up */
.dropdown {
    position: absolute;
    display: inline-block;
    left: 10%;
    top: 50%;
    /*float: inherit;*/
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}